# **Fundamentals of Python Class 03**

## **Immutability**<br>
Immutability in programming refers to the property of an object whose state cannot be modified after it is created. Once an immutable object is created, its state remains constant throughout its lifetime. This means that any operation performed on the object does not change its state; instead, it returns a new object with the modified state.<br>
<br>
Immutable objects have several advantages, including:<br>

1. **Thread Safety**: Since immutable objects cannot be modified, they can be safely shared among multiple threads without the risk of concurrent modification issues.<br>

2. **Simpler Debugging**: With immutable objects, you don't need to worry about unexpected changes in their state, making debugging easier.<br>

3. **Concurrency**: Immutability facilitates writing concurrent programs as there are no concerns about race conditions or conflicting modifications.<br>

4. **Predictability**: Immutable objects have predictable behavior, making it easier to reason about code and understand its functionality.<br>

5. **Caching**: Immutable objects can be safely cached because their state doesn't change, which can improve performance in certain scenarios.<br>

### String is Immutable

In [1]:
s = "sparsh"

In [3]:
s[1] = 'k' #Immutable

TypeError: 'str' object does not support item assignment

In [5]:
id(s)

140324797274544

In [6]:
s = 'Hello'

In [7]:
id(s)

140324638732976

## **List**<br>

1. Order Preserve<br>
2. Mutable<br>
3. Duplicate elements allowed<br>
4. Heterogeneous elements<br>
5. Dynamic size<br>
6. Comma Seperated<br>

In [8]:
l = [12, 34.8, "sparsh", 10+7j, True]

In [82]:
a = list('sparsh') ## 'sparsh is group of elements
a

['s', 'p', 'a', 'r', 's', 'h']

In [9]:
for i in l:
    print(i)
    print(type(i))

12
<class 'int'>
34.8
<class 'float'>
sparsh
<class 'str'>
(10+7j)
<class 'complex'>
True
<class 'bool'>

In [10]:
print(f'{l[0]}, {l[1]}, {l[2]}, {l[3]}, {l[4]}')

12, 34.8, sparsh, (10+7j), True

In [11]:
print(f'{l[-1]}, {l[-2]}, {l[-3]}, {l[-4]}, {l[-5]}')

True, (10+7j), sparsh, 34.8, 12

In [13]:
## Slicing in list
l[1:4] ## -> 1, 2, 3

[34.8, 'sparsh', (10+7j)]

In [14]:
## Mutable
l[0] = 1002
l

[1002, 34.8, 'sparsh', (10+7j), True]

### append()<br>
Adds element to the end of list

In [15]:
l.append('Saxena')

In [16]:
l

[1002, 34.8, 'sparsh', (10+7j), True, 'Saxena']

In [19]:
## Duplicate allowed
l.append(1002)

### insert(index, element)<br>
insert element to desired index - !! Does not replace

In [17]:
l.insert(0, 9900)

In [20]:
l

[9900, 1002, 34.8, 'sparsh', (10+7j), True, 'Saxena', 1002]

### remove(element)<br>
remove the first occurance of the element

In [21]:
l.remove(1002)
l

[9900, 34.8, 'sparsh', (10+7j), True, 'Saxena', 1002]

In [45]:
l[2] = 'Changed'

In [48]:
l[2][2] = 'b'

TypeError: 'str' object does not support item assignment

In [46]:
l

[9900, 34.8, 'Changed', (10+7j), True, 'Saxena', 1002]

## **Tuple**<br>
Same as list, but immutable (read only list)

In [36]:
tup = (102, 'index', 34.8, 102)

In [83]:
a = tuple('sparsh')
a

('s', 'p', 'a', 'r', 's', 'h')

In [37]:
type(tup)

tuple

In [38]:
## Immutability
tup[1] = 'change'

TypeError: 'tuple' object does not support item assignment

In [39]:
tup.append("hi")

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
tup.remove('index')

AttributeError: 'tuple' object has no attribute 'remove'

In [41]:
tup.count('index')

1

In [42]:
tup.count(0)

0

In [44]:
tup.index(102)

0

In [43]:
tup.index(102, 1, len(tup))

3

In [51]:
tup[-3:-1]

('index', 34.8)

In [52]:
tup[::-1]

(102, 34.8, 'index', 102)

### Tuple to List

In [70]:
t = (1, 2, 3, 4, 5)

In [71]:
l = list(t)
l

[1, 2, 3, 4, 5]

## **Range**<br>
Represent a sequence of numbers.<br>
It is immutable

In [53]:
range(5) # starting from 0 -> 4

range(0, 5)

In [54]:
range(0, 5)

range(0, 5)

In [57]:
range(0, 10, 2)

range(0, 10, 2)

In [58]:
range(0, 5, 2)

range(0, 5, 2)

In [59]:
for i in range(0, 5, 2):
    print(i)

0
2
4

In [55]:
range(5, 0, -1)

range(5, 0, -1)

In [56]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [60]:
r = range(5, 10)

In [65]:
r[0], r[1], r[2], r[3], r[4]

(5, 6, 7, 8, 9)

In [67]:
## Immutability
r[0] = 34

TypeError: 'range' object does not support item assignment

### range to list

In [68]:
range_list = list(r)

In [69]:
range_list

[5, 6, 7, 8, 9]

## **Set**<br>
1. No duplicates<br>
2. Order not preserved<br>
3. Heterogeneous elements<br>
4. no concept of index<br>So, if there's no concept of index- <br>
5. no concept of slicing<br>
6. Mutable<br>

In [72]:
s = {1,2,3,4,'sparsh','saxena'}

In [84]:
a = set('sparsh')
a

{'a', 'h', 'p', 'r', 's'}

In [77]:
#No concept of indexing
s[0]

TypeError: 'set' object is not subscriptable

### add(element)<br>
adds element, unordered

In [78]:
s.add(9)

In [79]:
s

{1, 2, 3, 4, 9, 'saxena', 'sparsh'}

In [80]:
#No duplicate allowed
s.add(9)
s

{1, 2, 3, 4, 9, 'saxena', 'sparsh'}

### remove(element)<br>
removes element from the set

In [81]:
s.remove(9)

In [89]:
s1 = {1,2}
s2 = {2,1}
print(s1)
print(s2)

{1, 2}
{1, 2}

In [90]:
s1 == s2

True

In [92]:
2 in s1

True

In [93]:
3 in s1

False

## **Frozenset**<br>
Same as set but it is immutable<br>
1. No add()<br>
2. No remove()

In [94]:
s = {1, 2, 3, 4}
x = frozenset(s)

In [95]:
x

frozenset({1, 2, 3, 4})

In [96]:
type(x)

frozenset

In [97]:
x.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [98]:
x.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

## **Dictionary**<br>
1. key-value pair<br>
2. Mutable<br>
3. no duplicate keys, duplicate value allowed<br>
4. unordered, order not preserved

In [99]:
d = {1:'sparsh', 2:'vidha'}

In [100]:
d[3] = "hello"
d

{1: 'sparsh', 2: 'vidha', 3: 'hello'}

In [101]:
d['hi'] = 4
d

{1: 'sparsh', 2: 'vidha', 3: 'hello', 'hi': 4}

In [102]:
d[3] = 'hi'

In [103]:
d

{1: 'sparsh', 2: 'vidha', 3: 'hi', 'hi': 4}

In [104]:
#Initialize dictionary
d1 = dict()
d1

{}

In [105]:
type(d1)

dict