# **Operators Class 01**<br>
## *Arithematic operators-*<br>
>'+' addition<br> 
>'-' subtraction<br> 
>'*' multiplication<br> 
>'/' division (float included)<br> 
>'//' division (int only)<br> 
>'%' modulo<br> 
>'**' x^y<br>

In [2]:
a = 90
b = 20

In [3]:
a+b

110

In [4]:
a-b

70

In [5]:
a*b

1800

In [6]:
a/b

4.5

In [7]:
a//b

4

In [8]:
a%b

10

In [9]:
a**b

1215766545905692880100000000000000000000

In [10]:
"hello"*2

'hellohello'

In [11]:
2*'hello'

'hellohello'

In [12]:
'hello'*'hi'

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
2.5*'hello'

TypeError: can't multiply sequence by non-int of type 'float'

## *Relational operators-*<br>
>'<' - less than<br>
>'<=' - less than equals to<br>
>'>' - greater than<br>
>'>=' - greater than equals to<br>

In [14]:
a < b

False

In [15]:
b < a

True

In [16]:
10 <= 10

True

In [17]:
10 <= 20

True

In [18]:
20 <= 10

False

***Relational operators are not supported with complex data types***

In [24]:
4+5j < 7+3j

TypeError: '<' not supported between instances of 'complex' and 'complex'

***Relational operators works lexicographically (which string will appear first or after in dictionary)***

In [19]:
'string' <= 'hi'

False

In [20]:
'h' <= 'hi'

True

In [22]:
'z' <= 'hi'

False

In [23]:
'hi' < 'hello'

False

In [25]:
False < True

True

In [26]:
True < False

False

***Chaining of relational operators is possible in Python***<br>
+ returns True if all the relation are True<br>
+ returns False if any one of the relation is false<br>

In [27]:
10<25<30<40

True

In [28]:
10<20>25<30

False

## *Equality Operators*<br>
>'==' - Equals to<br>
>'!=' - Not Equals to<br>

Works on any/diff data types

In [34]:
10.2 == 10

False

In [35]:
10 == 'sparsh'

False

In [36]:
10 != 'sparsh'

True

## *Logical Operators*<br>
Works on all type of data types<br>
>'and'<br>
>'or'<br>
>'not'<br>

condition(a) and condition(b):<br>
&emsp;if a is False then it returns a otherwise b<br>
condition(a) or condition(b):<br>
&emsp;if a is True retuns a, otherwise b

In [37]:
'False' and 'False'

'False'

In [38]:
'hello' and 12 ## 'hello' ==> True, so it retuns second operand i.e. 12

12

In [39]:
12 and 13 ## 12 ==> True, so it retuns second operand i.e. 13

13

In [40]:
0 and 12 ## 0 ==> False, so it retuns first operand i.e. 0

0

In [41]:
False and True

False

In [43]:
True and False

False

In [49]:
0 and 0 ## 0 ==> False, so it retuns second operand i.e. 0

0

In [44]:
10 or 20 ## 10 ==> True, so it returns first operand i.e. 10

10

In [45]:
0 or 20 ## 0 ==> False, so it returns second operand i.e 20

20

In [46]:
20 or 0 ## 20 ==> True, so it returns first operand i.e. 20

20

In [47]:
0 or 0 ## 0 ==> False, so it returns second operand i.e 0

0

## *Bitwise Operators-*<br>
only works on int and bool<br>
>'&' - bitwise and <br>
>'|' - bitwise or <br>
>'^' - bitwise xor <br>

In [50]:
5 & 6
##     5 ==> 1 0 1
##     6 ==> 1 1 0
## 5 & 6 ==> 1 0 0 ==> 4

4

In [52]:
5 | 6
##     5 ==> 1 0 1
##     6 ==> 1 1 0
## 5 | 6 ==> 1 1 1 ==> 7

7

In [54]:
5 ^ 6
##     5 ==> 1 0 1
##     6 ==> 1 1 0
## 5 | 6 ==> 0 1 1 ==> 3

3

## *User Input in Python*<br>
input() - takes input in string format, So, we need to type cast input in desired data type

In [29]:
a = input()
type(a)

str

In [30]:
a = int(input())
type(a)

int

You can add message like input('Your message here')

In [32]:
a = int(input('enter an integer'))
a

30

In [33]:
a = int(input()) ## Throws error if you input a string

ValueError: invalid literal for int() with base 10: 'hello'