# **Operators Class 02**<br>
## ***Short Hands***

In [38]:
x = 100
x += 1 ## x = x + 1
x

101

In [39]:
x -= 10 ## x = x - 10
x

91

In [40]:
x *= 11 ## x = x * 11
x

1001

In [41]:
x /= 13 ## x = x / 13
x

77.0

In [42]:
x //= 13 ## x = x // 7
x

5.0

In [43]:
x %= 3 ## x = x % 3
x

2.0

In [44]:
x **= 4 ## x = x**4
x

16.0

## ***Ternary Operators***<br>

In [48]:
a = 10
b = 20
d = 300

c = 100 if a<b else 1000
c

100

In [49]:
c = 100 if a>b else 1000
c

1000

Find largest among 2 number

In [50]:
c = a if a>b else b
c

20

In [52]:
ad = a if a>d else d
adb = ad if ad>b else b
adb

300

In [57]:
greatest = a if a>b and a>d else (b if b>c else d)

In [58]:
greatest

300

# ***is Operator***<br>
used to check id of 2 operators<br>
a is b ==> id(a) == id(b)<br>
<br>
Python uses concept of optimization/reusability (also called interning) when variable value is small and equal.<br>
+ For Integers - In CPython 3.7 and later versions, integers in the range of -5 to 256 (inclusive) are interned. This means that any variable assigned an integer value within this range will reference the same memory location.
+ For String - In CPython, string literals that are the same will typically be interned, meaning they will reference the same memory location.<br>

Python strictly follows rule of immutablity if many integers or strings are pointing to same memory and any integer or string variable is changed it make a new object for it.

In [59]:
a = 100
b = 100

In [66]:
id(a) == id(b) ## Python uses optimization/reusability concept

True

In [61]:
a is b

True

In [62]:
id(a)

140273493347664

In [63]:
id(b)

140273493347664

In [67]:
c = [1,2,3]
d = [1,2,3]

c is d

False

In [68]:
d = 256
e = 256
d is e

True

In [69]:
f = 257
g = 257
f is g

False

In [70]:
f = -5
g = -5
f is g

True

In [71]:
f = -6
g = -6
f is g

False

In [72]:
s = '100'
t = '100'
u = '100'
v = '100'

In [73]:
id(s), id(t), id(u), id(v)

(140273369247088, 140273369247088, 140273369247088, 140273369247088)

In [74]:
s is t, s is u, s is v

(True, True, True)

In [75]:
v = '200'

In [76]:
id(s), id(t), id(u), id(v)

(140273369247088, 140273369247088, 140273369247088, 140273450742128)

In [77]:
s is t, s is u, s is v

(True, True, False)

In [78]:
s is not v

True

In [79]:
a = (1,2,3)
b = (1,2,3)
a is b

False

In [80]:
id(a), id(b)

(140273371220096, 140273371253696)

## ***Membership Operator***<br>
>'in' - if element is present collection (list, string, tuple, etc)

In [81]:
s = 'Sparsh'
'S' in s

True

In [82]:
'R' in s

False

In [83]:
'r' in s

True

In [84]:
col = [1,2,3, 'Sparsh']
'Sparsh' in col

True

In [85]:
'p' in col

False

In [86]:
'p' in col[3]

True

## ***Input/Output in Python***<br>
>'input(<*message*>)' - To read input from user.<br>
>'print(<*content*>)' - To print content.<br>

In [87]:
print('hello')
print()
print()
print('Hello')

hello


Hello

In [88]:
print('hello', end="")
print('hi')

hellohi

In [90]:
a = 10
print(f"hello {str(a)}")

hello 10

By default output values are seperated by space.<br>
If you want any other seperator use 'sep' attribute

In [92]:
print(10, 20, 30) ## Internally adds space

10 20 30

In [93]:
print(10,20,30, sep=";")

10;20;30

>'+' - string concatenation

In [94]:
print('hello'+'sparsh')

hellosparsh

In [95]:
a = 10
b = 20
print("The sum is",a+b) ## Space seperator by default

The sum is 30

In [96]:
print("The sum is",a+b, sep='@')

The sum is@30